## Preprocessing

In [1]:
#Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
import tensorflow as tf

2023-05-08 13:10:56.634512: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [3]:
# import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head(5)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [5]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [6]:
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts=application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts<200].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
classification_binning = application_df['CLASSIFICATION'].value_counts()
classification_binning

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_binning_sorted= classification_binning[classification_binning>1]
classification_binning_sorted

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_binning[classification_binning<200].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: count, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 30)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 322

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 449
Trainable params: 449
Non-trainable params: 0
_________________________________________________________________

2023-05-08 13:11:03.835565: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [16]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 1ms/step - loss: 0.6173 - accuracy: 0.6714 - val_loss: 0.5772 - val_accuracy: 0.7178
Epoch 2/100
684/684 [==============================] - 0s 639us/step - loss: 0.5653 - accuracy: 0.7239 - val_loss: 0.5659 - val_accuracy: 0.7274
Epoch 3/100
684/684 [==============================] - 0s 641us/step - loss: 0.5570 - accuracy: 0.7270 - val_loss: 0.5618 - val_accuracy: 0.7282
Epoch 4/100
684/684 [==============================] - 0s 627us/step - loss: 0.5536 - accuracy: 0.7287 - val_loss: 0.5589 - val_accuracy: 0.7274
Epoch 5/100
684/684 [==============================] - 0s 623us/step - loss: 0.5516 - accuracy: 0.7292 - val_loss: 0.5600 - val_accuracy: 0.7264
Epoch 6/100
684/684 [==============================] - 0s 647us/step - loss: 0.5503 - accuracy: 0.7296 - val_loss: 0.5581 - val_accuracy: 0.7240
Epoch 7/100
684/684 [==============================] - 0s 633us/step - loss: 0.5493 - accuracy: 0.7327 - val_loss: 0.5557 - val_accuracy: 0.7292
Epoch 8/100
684/684 [==============================] - 0s 637us/step - loss: 0.5484 - accuracy: 0.7319 - val_loss: 0.5563 - val_accuracy: 0.7292
Epoch 9/100
684/684 [==============================] - 0s 648us/step - loss: 0.5473 - accuracy: 0.7340 - val_loss: 0.5568 - val_accuracy: 0.7271
Epoch 10/100
684/684 [==============================] - 0s 671us/step - loss: 0.5472 - accuracy: 0.7325 - val_loss: 0.5560 - val_accuracy: 0.7284
Epoch 11/100
684/684 [==============================] - 0s 628us/step - loss: 0.5467 - accuracy: 0.7340 - val_loss: 0.5548 - val_accuracy: 0.7287
Epoch 12/100
684/684 [==============================] - 0s 626us/step - loss: 0.5460 - accuracy: 0.7337 - val_loss: 0.5550 - val_accuracy: 0.7289
Epoch 13/100
684/684 [==============================] - 0s 621us/step - loss: 0.5456 - accuracy: 0.7347 - val_loss: 0.5567 - val_accuracy: 0.7240
Epoch 14/100
684/684 [==============================] - 0s 630us/step - loss: 0.5454 - accuracy: 0.7346 - val_loss: 0.5557 - val_accuracy: 0.7295
Epoch 15/100
684/684 [==============================] - 0s 630us/step - loss: 0.5454 - accuracy: 0.7349 - val_loss: 0.5550 - val_accuracy: 0.7289
Epoch 16/100
684/684 [==============================] - 0s 625us/step - loss: 0.5452 - accuracy: 0.7335 - val_loss: 0.5560 - val_accuracy: 0.7245
Epoch 17/100
684/684 [==============================] - 0s 632us/step - loss: 0.5451 - accuracy: 0.7347 - val_loss: 0.5554 - val_accuracy: 0.7279
Epoch 18/100
684/684 [==============================] - 0s 675us/step - loss: 0.5449 - accuracy: 0.7352 - val_loss: 0.5558 - val_accuracy: 0.7282
Epoch 19/100
684/684 [==============================] - 0s 642us/step - loss: 0.5446 - accuracy: 0.7351 - val_loss: 0.5556 - val_accuracy: 0.7243
Epoch 20/100
684/684 [==============================] - 0s 636us/step - loss: 0.5447 - accuracy: 0.7364 - val_loss: 0.5555 - val_accuracy: 0.7276
Epoch 21/100
684/684 [==============================] - 0s 636us/step - loss: 0.5444 - accuracy: 0.7364 - val_loss: 0.5550 - val_accuracy: 0.7282
Epoch 22/100
684/684 [==============================] - 0s 632us/step - loss: 0.5441 - accuracy: 0.7354 - val_loss: 0.5548 - val_accuracy: 0.7245
Epoch 23/100
684/684 [==============================] - 0s 652us/step - loss: 0.5439 - accuracy: 0.7347 - val_loss: 0.5550 - val_accuracy: 0.7292
Epoch 24/100
684/684 [==============================] - 0s 628us/step - loss: 0.5439 - accuracy: 0.7359 - val_loss: 0.5550 - val_accuracy: 0.7282
Epoch 25/100
684/684 [==============================] - 0s 620us/step - loss: 0.5437 - accuracy: 0.7351 - val_loss: 0.5556 - val_accuracy: 0.7232
Epoch 26/100
684/684 [==============================] - 0s 633us/step - loss: 0.5436 - accuracy: 0.7357 - val_loss: 0.5554 - val_accuracy: 0.7243
Epoch 27/100
684/684 [==============================] - 1s 818us/step - loss: 0.5434 - accuracy: 0.7356 - val_loss: 0.5570 - val_accuracy: 0.7245
Epoch 28/100
684/684 [==============================] - 1s 831us/step - loss: 0.5433 - accuracy: 0.7342 - val_loss: 0.5544 - val_accuracy: 0.7289
Epoch 29/100
684/684 [==============================] - 0s 630us/step - loss: 0.5431 - accuracy: 0.7352 - val_loss: 0.5555 - val_accuracy: 0.7284
Epoch 30/100
684/684 [==============================] - 0s 654us/step - loss: 0.5429 - accuracy: 0.7362 - val_loss: 0.5538 - val_accuracy: 0.7279
Epoch 31/100
684/684 [==============================] - 0s 633us/step - loss: 0.5432 - accuracy: 0.7368 - val_loss: 0.5546 - val_accuracy: 0.7289
Epoch 32/100
684/684 [==============================] - 0s 633us/step - loss: 0.5430 - accuracy: 0.7372 - val_loss: 0.5561 - val_accuracy: 0.7292
Epoch 33/100
684/684 [==============================] - 1s 732us/step - loss: 0.5429 - accuracy: 0.7350 - val_loss: 0.5552 - val_accuracy: 0.7235
Epoch 34/100
684/684 [==============================] - 0s 719us/step - loss: 0.5427 - accuracy: 0.7358 - val_loss: 0.5551 - val_accuracy: 0.7240
Epoch 35/100
684/684 [==============================] - 0s 650us/step - loss: 0.5430 - accuracy: 0.7347 - val_loss: 0.5555 - val_accuracy: 0.7235
Epoch 36/100
684/684 [==============================] - 0s 662us/step - loss: 0.5427 - accuracy: 0.7372 - val_loss: 0.5543 - val_accuracy: 0.7295
Epoch 37/100
684/684 [==============================] - 0s 649us/step - loss: 0.5424 - accuracy: 0.7364 - val_loss: 0.5563 - val_accuracy: 0.7243
Epoch 38/100
684/684 [==============================] - 0s 644us/step - loss: 0.5424 - accuracy: 0.7352 - val_loss: 0.5546 - val_accuracy: 0.7274
Epoch 39/100
684/684 [==============================] - 0s 641us/step - loss: 0.5427 - accuracy: 0.7369 - val_loss: 0.5554 - val_accuracy: 0.7276
Epoch 40/100
684/684 [==============================] - 0s 669us/step - loss: 0.5420 - accuracy: 0.7359 - val_loss: 0.5566 - val_accuracy: 0.7240
Epoch 41/100
684/684 [==============================] - 0s 654us/step - loss: 0.5418 - accuracy: 0.7368 - val_loss: 0.5543 - val_accuracy: 0.7276
Epoch 42/100
684/684 [==============================] - 0s 635us/step - loss: 0.5420 - accuracy: 0.7354 - val_loss: 0.5533 - val_accuracy: 0.7282
Epoch 43/100
684/684 [==============================] - 0s 670us/step - loss: 0.5422 - accuracy: 0.7366 - val_loss: 0.5561 - val_accuracy: 0.7251
Epoch 44/100
684/684 [==============================] - 0s 695us/step - loss: 0.5420 - accuracy: 0.7360 - val_loss: 0.5547 - val_accuracy: 0.7274
Epoch 45/100
684/684 [==============================] - 0s 662us/step - loss: 0.5418 - accuracy: 0.7366 - val_loss: 0.5555 - val_accuracy: 0.7282
Epoch 46/100
684/684 [==============================] - 0s 648us/step - loss: 0.5418 - accuracy: 0.7354 - val_loss: 0.5537 - val_accuracy: 0.7276
Epoch 47/100
684/684 [==============================] - 0s 637us/step - loss: 0.5417 - accuracy: 0.7364 - val_loss: 0.5539 - val_accuracy: 0.7287
Epoch 48/100
684/684 [==============================] - 0s 650us/step - loss: 0.5419 - accuracy: 0.7369 - val_loss: 0.5538 - val_accuracy: 0.7282
Epoch 49/100
684/684 [==============================] - 0s 634us/step - loss: 0.5416 - accuracy: 0.7369 - val_loss: 0.5549 - val_accuracy: 0.7305
Epoch 50/100
684/684 [==============================] - 0s 639us/step - loss: 0.5413 - accuracy: 0.7369 - val_loss: 0.5553 - val_accuracy: 0.7235
Epoch 51/100
684/684 [==============================] - 0s 645us/step - loss: 0.5418 - accuracy: 0.7367 - val_loss: 0.5572 - val_accuracy: 0.7295
Epoch 52/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7371 - val_loss: 0.5564 - val_accuracy: 0.7284
Epoch 53/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7361 - val_loss: 0.5578 - val_accuracy: 0.7276
Epoch 54/100
684/684 [==============================] - 1s 884us/step - loss: 0.5415 - accuracy: 0.7377 - val_loss: 0.5546 - val_accuracy: 0.7256
Epoch 55/100
684/684 [==============================] - 1s 972us/step - loss: 0.5416 - accuracy: 0.7369 - val_loss: 0.5568 - val_accuracy: 0.7232
Epoch 56/100
684/684 [==============================] - 0s 702us/step - loss: 0.5418 - accuracy: 0.7373 - val_loss: 0.5541 - val_accuracy: 0.7282
Epoch 57/100
684/684 [==============================] - 0s 672us/step - loss: 0.5416 - accuracy: 0.7374 - val_loss: 0.5547 - val_accuracy: 0.7232
Epoch 58/100
684/684 [==============================] - 0s 635us/step - loss: 0.5413 - accuracy: 0.7366 - val_loss: 0.5552 - val_accuracy: 0.7235
Epoch 59/100
684/684 [==============================] - 0s 623us/step - loss: 0.5412 - accuracy: 0.7380 - val_loss: 0.5555 - val_accuracy: 0.7276
Epoch 60/100
684/684 [==============================] - 0s 625us/step - loss: 0.5410 - accuracy: 0.7373 - val_loss: 0.5572 - val_accuracy: 0.7271
Epoch 61/100
684/684 [==============================] - 0s 632us/step - loss: 0.5408 - accuracy: 0.7377 - val_loss: 0.5549 - val_accuracy: 0.7279
Epoch 62/100
684/684 [==============================] - 0s 621us/step - loss: 0.5411 - accuracy: 0.7379 - val_loss: 0.5557 - val_accuracy: 0.7292
Epoch 63/100
684/684 [==============================] - 0s 647us/step - loss: 0.5411 - accuracy: 0.7379 - val_loss: 0.5554 - val_accuracy: 0.7276
Epoch 64/100
684/684 [==============================] - 0s 629us/step - loss: 0.5411 - accuracy: 0.7370 - val_loss: 0.5553 - val_accuracy: 0.7225
Epoch 65/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7392 - val_loss: 0.5553 - val_accuracy: 0.7279
Epoch 66/100
684/684 [==============================] - 0s 655us/step - loss: 0.5409 - accuracy: 0.7370 - val_loss: 0.5551 - val_accuracy: 0.7289
Epoch 67/100
684/684 [==============================] - 0s 637us/step - loss: 0.5408 - accuracy: 0.7373 - val_loss: 0.5554 - val_accuracy: 0.7276
Epoch 68/100
684/684 [==============================] - 0s 677us/step - loss: 0.5406 - accuracy: 0.7384 - val_loss: 0.5552 - val_accuracy: 0.7274
Epoch 69/100
684/684 [==============================] - 0s 645us/step - loss: 0.5407 - accuracy: 0.7374 - val_loss: 0.5554 - val_accuracy: 0.7261
Epoch 70/100
684/684 [==============================] - 0s 622us/step - loss: 0.5405 - accuracy: 0.7362 - val_loss: 0.5561 - val_accuracy: 0.7264
Epoch 71/100
684/684 [==============================] - 0s 642us/step - loss: 0.5406 - accuracy: 0.7379 - val_loss: 0.5556 - val_accuracy: 0.7264
Epoch 72/100
684/684 [==============================] - 0s 642us/step - loss: 0.5406 - accuracy: 0.7370 - val_loss: 0.5550 - val_accuracy: 0.7274
Epoch 73/100
684/684 [==============================] - 0s 659us/step - loss: 0.5405 - accuracy: 0.7374 - val_loss: 0.5546 - val_accuracy: 0.7245
Epoch 74/100
684/684 [==============================] - 0s 653us/step - loss: 0.5406 - accuracy: 0.7376 - val_loss: 0.5566 - val_accuracy: 0.7222
Epoch 75/100
684/684 [==============================] - 0s 709us/step - loss: 0.5407 - accuracy: 0.7383 - val_loss: 0.5557 - val_accuracy: 0.7235
Epoch 76/100
684/684 [==============================] - 1s 938us/step - loss: 0.5406 - accuracy: 0.7370 - val_loss: 0.5553 - val_accuracy: 0.7279
Epoch 77/100
684/684 [==============================] - 0s 708us/step - loss: 0.5403 - accuracy: 0.7376 - val_loss: 0.5549 - val_accuracy: 0.7295
Epoch 78/100
684/684 [==============================] - 0s 634us/step - loss: 0.5406 - accuracy: 0.7371 - val_loss: 0.5557 - val_accuracy: 0.7292
Epoch 79/100
684/684 [==============================] - 0s 650us/step - loss: 0.5406 - accuracy: 0.7386 - val_loss: 0.5555 - val_accuracy: 0.7238
Epoch 80/100
684/684 [==============================] - 0s 644us/step - loss: 0.5403 - accuracy: 0.7385 - val_loss: 0.5554 - val_accuracy: 0.7295
Epoch 81/100
684/684 [==============================] - 0s 624us/step - loss: 0.5402 - accuracy: 0.7390 - val_loss: 0.5565 - val_accuracy: 0.7271
Epoch 82/100
684/684 [==============================] - 0s 629us/step - loss: 0.5400 - accuracy: 0.7389 - val_loss: 0.5558 - val_accuracy: 0.7240
Epoch 83/100
684/684 [==============================] - 0s 629us/step - loss: 0.5404 - accuracy: 0.7389 - val_loss: 0.5549 - val_accuracy: 0.7279
Epoch 84/100
684/684 [==============================] - 0s 619us/step - loss: 0.5401 - accuracy: 0.7387 - val_loss: 0.5570 - val_accuracy: 0.7271
Epoch 85/100
684/684 [==============================] - 0s 669us/step - loss: 0.5402 - accuracy: 0.7382 - val_loss: 0.5566 - val_accuracy: 0.7235
Epoch 86/100
684/684 [==============================] - 0s 642us/step - loss: 0.5400 - accuracy: 0.7375 - val_loss: 0.5573 - val_accuracy: 0.7235
Epoch 87/100
684/684 [==============================] - 0s 635us/step - loss: 0.5402 - accuracy: 0.7385 - val_loss: 0.5555 - val_accuracy: 0.7289
Epoch 88/100
684/684 [==============================] - 0s 630us/step - loss: 0.5401 - accuracy: 0.7385 - val_loss: 0.5547 - val_accuracy: 0.7292
Epoch 89/100
684/684 [==============================] - 0s 644us/step - loss: 0.5401 - accuracy: 0.7389 - val_loss: 0.5575 - val_accuracy: 0.7274
Epoch 90/100
684/684 [==============================] - 1s 808us/step - loss: 0.5403 - accuracy: 0.7388 - val_loss: 0.5560 - val_accuracy: 0.7279
Epoch 91/100
684/684 [==============================] - 0s 670us/step - loss: 0.5400 - accuracy: 0.7388 - val_loss: 0.5558 - val_accuracy: 0.7258
Epoch 92/100
684/684 [==============================] - 0s 664us/step - loss: 0.5401 - accuracy: 0.7385 - val_loss: 0.5559 - val_accuracy: 0.7274
Epoch 93/100
684/684 [==============================] - 0s 666us/step - loss: 0.5400 - accuracy: 0.7387 - val_loss: 0.5557 - val_accuracy: 0.7292
Epoch 94/100
684/684 [==============================] - 0s 706us/step - loss: 0.5400 - accuracy: 0.7396 - val_loss: 0.5564 - val_accuracy: 0.7276
Epoch 95/100
684/684 [==============================] - 0s 693us/step - loss: 0.5399 - accuracy: 0.7389 - val_loss: 0.5566 - val_accuracy: 0.7253
Epoch 96/100
684/684 [==============================] - 0s 692us/step - loss: 0.5400 - accuracy: 0.7376 - val_loss: 0.5583 - val_accuracy: 0.7240
Epoch 97/100
684/684 [==============================] - 0s 663us/step - loss: 0.5398 - accuracy: 0.7388 - val_loss: 0.5551 - val_accuracy: 0.7300
Epoch 98/100
684/684 [==============================] - 0s 682us/step - loss: 0.5401 - accuracy: 0.7393 - val_loss: 0.5542 - val_accuracy: 0.7282
Epoch 99/100
684/684 [==============================] - 1s 968us/step - loss: 0.5396 - accuracy: 0.7392 - val_loss: 0.5545 - val_accuracy: 0.7295
Epoch 100/100
684/684 [==============================] - 1s 743us/step - loss: 0.5396 - accuracy: 0.7391 - val_loss: 0.5555 - val_accuracy: 0.7287

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5656 - accuracy: 0.7195 - 123ms/epoch - 459us/step
Loss: 0.5656276345252991, Accuracy: 0.7195335030555725

In [31]:
# Export our model to HDF5 file
nn.save('../Model.h5')